@import url("@bikeleasing-service/pedal-tokens/build/css/variables.css");

.tokens-display-container {
  font-family:
    var(--p-font-family-primary), var(--p-font-family-secondary), sans-serif;
  padding: 48px 64px;
  max-width: 1000px;
  margin: var(--p-spacing-64) auto;
  border: var(--p-sizing-1) solid var(--p-color-divider);
}

.tokens-heading {
  margin-bottom: var(--p-spacing-32);
}

.tokens-section {
  margin-bottom: var(--p-spacing-32);
}

.tokens-section-heading {
  border-bottom: var(--p-sizing-1) solid var(--p-color-divider);
  padding-bottom: var(--p-spacing-8);
  margin-bottom: var(--p-spacing-16);
  font-size: var(--p-font-size-l);
  color: var(--p-color-neutral-800);
}

.tokens-section-content {
  padding-left: var(--p-spacing-16);
}

.token-item {
  padding: var(--p-spacing-16);
  border: var(--p-sizing-1) solid var(--p-color-divider);
  border-radius: var(--p-radius-small);
  box-shadow: 0 var(--p-sizing-1) var(--p-spacing-4) rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--p-spacing-16);
  margin-bottom: var(--p-spacing-8);
}

.token-name {
  font-weight: var(--p-font-weight-medium);
  color: var(--p-color-neutral-800);
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
}

.token-path {
  font-size: var(--p-font-size-xs);
  font-style: italic;
  color: var(--p-color-neutral-600);
  margin-top: var(--p-spacing-4);
}

.token-value-container {
  display: flex;
  align-items: center;
  gap: var(--p-spacing-16);
  flex-basis: 60%;
  justify-content: flex-end;
}

.token-color-preview {
  width: var(--p-size-32);
  height: var(--p-size-32);
  border-radius: var(--p-radius-small);
  border: var(--p-sizing-1) solid rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

.token-value {
  font-size: var(--p-font-size-s);
  font-family: monospace;
  color: var(--p-color-neutral-600);
  font-weight: var(--p-font-weight-normal);
}
